---
layout: none
---

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" type="text/css" href="media/style.css?v=0" media="screen">
  <title>Salsa ribbons &mdash; show the world you develop there!</title>
</head>

<body>

<a href="{{ site.source_url }}"><img style="position: absolute; top: 0; left: 0; border: 0;" src="{{ site.url }}/img/red_left.png" alt="Fork me on Salsa"></a>

<header>
  <div class="container">
    <h1>Salsa ribbons</h1>
  </div>
</header>

<div class="container">
  <section id="main_content">
    <p>
      <a href="https://salsa.debian.org/">Salsa</a> is the name of the
      collaborative development server for <a
      href="https://debian.org">Debian</a>. Why not show the world that you
      develop there?
    </p>

    <p>
      I've prepared these ribbons that you can overlay on your site by copying
      and pasting the appropriate snippet into your site's HTML. Make sure to
      change the URL in the link to contain your group or username instead of
      "you".
    </p>

    <p>
      If you're not satisfied with one of the colours here, I've provided the
      source files (MIT licensed). Feel free to modify as you please. The font
      being used is Collegiate.
    </p>

    <br>

    <table cellspacing="5">
      <tbody>

        {% assign orientations = "left,right" | split: ',' %}
        {% for colour in site.data.colours %}
        {% for orientation in orientations %}
        {% assign url = site.url | append: "/img/" | append: colour | append: "_" | append: orientation | append: ".png" %}
        <tr>
          <td>
            <img style="margin: 0; padding: 0;" src="{{ url }}" alt="Fork me on Salsa">
          </td>
        <td>
          <textarea style="width: 25em; height: 149px;">&lt;a href="https://salsa.debian.org/group/project"&gt;&lt;img style="position: absolute; top: 0; {{ orientation }}: 0; border: 0;" src="{{ url }}" alt="Fork me on Salsa"&gt;&lt;/a&gt;</textarea>
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <h3 id="links">
      Links
    </h3>

    <ul>
      <li>
        <a href="{{ site.source_url }}">Source</a>
      </li>
      <li>
        <a href="{{ site.source_url }}/issues">Issues</a>
      </li>
      <li>
        <a href="https://blog.github.com/2008-12-19-github-ribbons/">GitHub Ribbons</a>
      </li>
      <li>
        <a href="https://wiki.debian.org/Salsa">Salsa</a> on the <a href="https://wiki.debian.org/">Debian Wiki</a>
      </li>
      <li>
        Other <a href="https://badges.debian.net/">Debian badges</a>
      </li>
    </ul>

    <h3>
      Copyright
    </h3>

    <p>
      Copyright &copy; 2018 <a href="https://chris-lamb.co.uk/">Chris Lamb</a> &lt;lamby@debian.org&gt;
      <br>
      Copyright &copy; 2008 <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a> &lt;tom@mojombo.com&gt;
    </p>

    <p>
      Released under the terms of the MIT license.
    </p>
 </section>
</div>

</body>
</html>
